@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="text-center">
    <h1 class="display-1">Witaj!</h1>
    <h3>
        Storna ta ma posłużyć analityką gry Counter-Strike: Global Offensive. Zawiera 3 podstrony na której znajdziesz kalkulatory
        służące do różnych obliczeń. Jeżeli chcesz Obliczyć koszt zakupów broni podczas rundy kliknij w pierwszą podstronę na pasku
        nawigacji. Wpisz dane i ciesz się wyliczonymi staystykami! Jeżeli chcesz porównać graczy i zdecydować, który będzie odpowiednią
        osobą do twojej drużyny, przejdź na 2 podstronę. Jeżeli potrzebujesz wyliczyc statytyki gracza, udaj się na 3 podstrone! Miłej zabawy!
    </h3>
    <img src="~/Img/csgo.jpg" alt="logo gry"  asp-append-version="true"/>
</div>
