<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnalysisProgram</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AnalysisProgram.styles.css" asp-append-version="true" />
</head>

@*    Styl całej strony został oparty na popularnej bibliotece bootstrap, jednak duża część stylów elementów strony 
    została zmodyfikowana za pomocą css(plik: site.css).*@

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand navbar_brand" asp-area="" asp-controller="Home" asp-action="Index">AnalysisProgram</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="ShoppingCalculator" asp-action="ShoppingCalculator">Kalkulator zakupów</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Player" asp-action="Player">Gracze</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="KDACalculator" asp-action="KDACalculator">Kalkulator KDA</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

      <!-- Stopka strony -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AnalysisProgram - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
             <!-- Ikony mediów społecznościowych -->
            <a class="m-3" href="#">
                <i class="fa fa-facebook fa-lg text-white mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a class="m-3" href="#">
                <i class="fa fa-twitter fa-lg text-white mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a class="m-3" href="#">
                <i class="fa fa-google-plus fa-lg text-white mr-md-5 mr-3 fa-2x"></i>
            </a>
            <a class="m-3" href="#">
                <i class="fa fa-instagram fa-lg text-#708090 mr-md-5 mr-3 fa-2x"></i>
            </a>
            </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
