@{
    ViewData["Title"] = "Kalkulator KDA";
}

<h1>Kalkulator KDA</h1>

<!-- Przyciski do kalkulatorów dla Riflera i Snipera -->
<a href="@Url.Action("RiflerStatsCalculator", "KDACalculator")" class="btn btn-primary">Rifler</a>

<a href="@Url.Action("SniperStatsCalculator", "KDACalculator")" class="btn btn-primary">Sniper</a>
